.flat-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: solid 2px;
    background-color: white;
}

.flat-button.border-right{
    margin-right: 10px;
}

.flat-button.border-left{
    margin-left: 10px;
}