.mod-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 80%;
}

.mod-list ul{
    overflow-y: scroll;
}

.mod-list > label{
    font-family: 'Roboto';
    font-size: 30px;
    color: white;
}