textarea:focus, input:focus, label:focus{
    outline: none;
    border-color: black;
}

.main-background{
    background-color: #16213e;
}

.main-header{
    background-color: #e94560;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: start;
    
}

.main-header input{
    flex-grow: 1;
    margin-right: 10px;
    margin-left: 15px;
    border-radius: 10px;
}

.buttons{
    margin-right: 15px;
    display: flex;
}

.buttons label{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: solid 2px;
    margin-top: 7px;
    margin-left: 10px;
    background-color: white;
}

.main-page{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: calc(100vh - 50px);
}

.mods-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
}

.mods-list label{
    color: #f0f0f0;
    font-size: 25px;
    font-family: 'Roboto';
}

.mods-list ul{
    padding-left: 0px;
}

.mods-list ul li{
    list-style-type: none;
    background-color: #0f3460;
    border: solid 3px #e94560;
    border-radius: 8px;
    margin-top: 10px;
    width: 30vw;
    height: 60px;
    color: #f0f0f0;
    font-family: 'Roboto';
    padding-left: 5px;
}

